@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SVN-Sofia Pro";
  src: url("/fonts/Sofia Pro/SVN-Sofia Pro Black Italic.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Sofia Pro";
  src: url("/fonts/sofia-pro/Sofia Pro Bold Az.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SVN-Sofia Pro";
  src: url("/fonts/sofia-pro/Sofia Pro Medium Az.otf") format("otf");
  font-weight: medium;
  font-style: normal;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "SVN-Sofia Pro", sans-serif;
  max-width: 1920px;
  margin: 0 auto;

  p {
    margin: 0;
  }
}

@layer utilities {
  .placeholder-custom::placeholder {
    color: #111113;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
    font-family: "SVN-Sofia Pro", sans-serif;
  }
}
