@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
  padding: 0px;
  margin: 0px;
  max-width: 1920px;
  margin: 0 auto;
  p {
    margin: 0;
  }
  color: #2e2f35;
}
html {
  background-color: white !important;
  overflow-x: hidden !important;
}
@layer utilities {
  .placeholder-custom::placeholder {
    color: #111113;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 400;
    font-family: "SVN-Sofia Pro", sans-serif;
  }
}
